{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 160px;
    /* font-family: ; */
    background-color: azure;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0px; 
    background-color: azure;
}

.nav > ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav > ul > li > a {
    text-decoration: none;
    color: blueviolet;

}

.hero_section {
    margin-top: 40px;
    width: 100%;
    }
    .hero_section > img {
        width: 100%;
    }

    .about_banner {
       width: 100%;
    }
    .about_banner > img {
        width: 100%;
    }
.interior_label {
     border-left: 5px;
    margin-top: 30px;
    
    }
    .Trademark {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
        justify-content: center;
        font-size: x-large;
        padding: 30px;
        border-left-width: 5px ;
        border-left-color: red;
        border-left-style: solid;
        
        border-right-width: 5px ;
        border-right-color: red;
        border-right-style: solid;

        /* border-inline: 5px solid green; */
    }
        
.what_we{
    display: flex;
    align-items: center;
    font-size: x-large;
    margin-top: 30px;
    justify-content: space-between;
    
}
.text {
    width: 600px;
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 30px;
}
.what_dopcs> img {
    width: 600px;
    margin-top: 50px;
}
.button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 8px ;
}

.the {
    display: flex;
    text-align: center;
    align-content: space-between;
    text-align: justify;
    margin-top: 50px;
    gap: 50px;
    font-size: x-large;
    padding-left: 0px;
   padding-top: 30px;
    
   }

.the_end {
    margin-top: 20px;
    padding: 80px;
    }
.button2 {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 50px;
    font-weight: bold;
    
}
.picsize {
    width: 600px;
}

/* sectionb */

.sectionb {
    margin-top: 50px;
    width: 100%;
    background-color: #D8A876;
    padding: 60px 30px;
    border-radius: 30px;
}

.testimony_titleb {
    font-family: "DM Serif Display", serif;
    ;
    width: 547px;
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: 0 auto 20px;
}

.testimony_boxb {
    width: 100%;
    display: flex;
    gap: 30px;
}

.testimonyb {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 300;
}

.testimony_detailsb {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.testimony_detailsb>img {
    width: 50px;
}

.testimony_contentb {
    text-align: justify;
}
.creative_project {
    text-align: center;
    margin-top: 50px;
    color: black;
    margin-bottom: 20px;
}
.lorem {
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
    align-items: center;
}
.form {
    width: 250%;
    height: 30px;
    padding-left: 50px;
    border-radius: 5px;
    
   }
  .form_tag {
   display: flex;
   gap: 500px;
      
}
.formtest {
 display: flex;
 justify-content: space-between;
  
   }

   .box_space {
    width: 400px;
    height: 35px;
    gap: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
   
    
   }
.textarea {
    width: 100%;
    height: 40px;
    resize: none;
    border-radius: 8px;
    padding: 20px 10px;
    
}

  /* .message_box { */
    /* width: 1250px; */
    /* height: 100px; */
    /* border-radius: 15px; */
    
    .logo {
        display: flex;
        margin-top: 50px;
        margin-bottom: 80px;
        width: 100%;
        justify-content: space-between;
    }
    
    .background {
        width: 100%;
        height: 300px;
        background-color: black;
    }
    .send_button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 50px;
    font-weight: bold;
      
}
    