* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* padding: 0 5px; */
    /* font-family: ; */
    background-color: azure;
    padding: 0 150px;
}

.logo_colour {
    color: brown;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: sticky;
    top: 0px;
    background-color: azure;
}

.nav>ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav>ul>li>a {
    text-decoration: none;
    color: brown;
    text-decoration: solid;
}
.blog_banner {
    width: 100%;
}

.typebox {
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    border-bottom: 2px solid #CDA274;
    margin-bottom: 50px;
    padding: 10px;
}

.box {
    display: flex;
    align-content: center;
    }
.search {
    display: flex;
    width: 600px;
    height: 70px;
    background-color:#F4F0EC;
    border: none;
    padding: 10px;
    resize: none;
        }
   
        .whole {
            display: flex;
            gap: 100px;
            
        }
.latest_post_info {
    margin-top: 90px;
    font-size: larger;
    text-align: justify;
    padding-right: 180px;
  
}

.low_cost {
    font-weight: bolder;
}
.Loren {
    margin-top: 13px;
}


.button1 {
    display: flex;
    gap: 150px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.wrapper {
    width: 100%;
    display: flex;
    text-align: left;
    align-content: center;
    justify-content: space-between;
    margin-top: 50px;
   
     }
     .icon {
        display: flex;
        align-items: end;
     }
    .details {
        width: 230px;
        font-weight: bolder;
        font-size: x-large;
        text-align: justify;
        
    }

     .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .logo {
        display: flex;
        margin-top: 50px;
        margin-bottom: 80px;
        width: 100%;
        justify-content: space-between;
    }
    
    .background {
        width: 100%;
        height: 300px;
        background-color: black;
    }
    .send_button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 50px;
    font-weight: bold;
      
}  
 

.j {
    gap: 30px;
    display: flex;
    align-content: center;
}

.box {
    width: 500px;
    align-content: center;
}
